@{
    ViewBag.Title = "gxtj";
    Layout = "~/Views/Shared/muban.cshtml";
}
@*@model List<MvcApplication1.Models.suoyoubiao>*@

<link href="~/Scripts/main.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<link href="~/gnScripts/StyleSheet1.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<div id="div_head">
    @*次级选项卡*@
    @Html.Partial("Partial1")
</div>
<style type="text/css">
    /*table 样式*/
    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr : nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }


    #div_bigboxtj {
        display: flex;
        height: 2000px;
    }

    #div_tjzuo {
        background-color: #ececec;
        flex: 17;
    }

    #div_tjzhong {
        flex: 65;
    }

    #div_tjyou {
        background-color: #ececec;
        flex: 17;
    }
    /*下面是每个小模块推荐的1*/
    #tjzhong_1 {
        position: relative;
        top: 50px;
    }

    #tjzhong_1_img dt {
        flex: 10;
        margin-left: 40px;
    }

        #tjzhong_1_img dt img {
            width: 200px;
            height: 200px;
        }

    #tjzhong_1_img {
        display: flex;
        margin-top: 25px;
    }

    #tjzhong_1_text {
        height: 50px;
        border-bottom: 2px outset red;
        font-size: 25px;
    }

        #tjzhong_1_text a {
            margin-left: 40px;
        }

    /*下面是每个小模块推荐的2*/
    #tjzhong_2 {
        position: relative;
        top: 100px;
    }

    #tjzhong_2_img dt {
        flex: 10;
        margin-left: 40px;
    }

        #tjzhong_2_img dt img {
            width: 200px;
            height: 200px;
        }

    #tjzhong_2_img {
        display: flex;
        margin-top: 25px;
    }

    #tjzhong_2_text {
        height: 50px;
        border-bottom: 2px outset red;
        font-size: 25px;
    }

        #tjzhong_2_text a {
            margin-left: 40px;
        }

    /*下面是每个小模块推荐的3*/
    #tjzhong_3 {
        position: relative;
        top: 150px;
    }

    #tjzhong_3_img dt {
        flex: 10;
        margin-left: 40px;
    }

        #tjzhong_3_img dt img {
            width: 200px;
            height: 200px;
        }

    #tjzhong_3_img {
        display: flex;
        margin-top: 25px;
    }

    #tjzhong_3_text {
        height: 50px;
        border-bottom: 2px outset red;
        font-size: 25px;
    }

        #tjzhong_3_text a {
            margin-left: 40px;
        }
    /*下面是每个小模块推荐的3*/
    #tjzhong_4 {
        position: relative;
        top: 200px;
    }

    #tjzhong_4_img {
        display: flex;
        margin-top: 25px;
    }

    #tjzhong_4_text {
        height: 50px;
        border-bottom: 2px outset red;
        font-size: 25px;
    }

        #tjzhong_4_text a {
            margin-left: 40px;
        }

    table {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .swipe{
        z-index:-1;
    }
    #bfimg {
        width:25px;
        height:25px;
    }
</style>
@*中间部分推荐歌单模块style样式*@

<div class="swipe" id="swipe" >
    <!-- 模糊背景 -->
    <div class="bg" id="swipe_bg"></div>
    <!-- 图片区域 -->
    <section>
        <!-- 图片显示 -->
        <div class="img-box" id="swipe_img_box">
            <a href="#" class="link" id="swipe_link">
                <img src="/lunboimg/1.img" alt="" class="img" id="swipe_img" onclick="lunbotj()" />

            </a>
        </div>
        <!-- 指示点 -->
        <div class="select" id="swipe_select">
            <!-- <a href="#" class="item checked"></a>
                <a href="#" class="item"></a>
                <a href="#" class="item"></a> -->
        </div>
        <!-- 左侧翻页按钮 -->
        <div class="btn left" id="swipe_btn_left">
            <!-- 字体图标：左箭头 -->
            <i class="fa fa-angle-left" aria-hidden="true">
                <img src="~/icon/上一页.png" width="50px" height="100px" /></i>
        </div>
        <!-- 右侧翻页按钮 -->
        <div class="btn right" id="swipe_btn_right">
            <!-- 字体图标：右箭头 -->
            <i class="fa fa-angle-right" aria-hidden="true">
                <img src="~/icon/下一页.png" width="50px" height="100px" /></i>
        </div>
    </section>
</div>
@*图片轮播模块*@


<div id="div_bigboxtj">
    <div id="div_tjzuo"></div>
    <div id="div_tjzhong">
        <div id="tjzhong_1">
            <div id="tjzhong_1_text">
                <a>推荐歌单</a>
            </div>
            <div id="tjzhong_1_img">
                @foreach (var item in ViewData["rmtj"] as List<MvcApplication1.newrmtj>)
                {
                    <dl>
                        <dt>
                            <img src="~/gedanimg/@item.gdimg" onclick="tuijged('@item.gdid')"/></dt>
                        <dt>@item.gdname
                        </dt>
                    </dl>     
                }
            </div>
        </div>
        @*热门推荐*@

        <div id="tjzhong_2">
            <div id="tjzhong_2_text">
                <a>专辑推荐</a>
            </div>
            <div id="tjzhong_2_img">
                @foreach (var item in ViewData["zjtj"] as List<MvcApplication1.newzjtj>)
                {
                    <dl>
                        <dt>
                            <img src="~/Zhuanjimg/@item.img" onclick="zhuanj('@item.zjid')"/></dt>
                        <dt>@item.zjname
                        </dt>
                    </dl>     
                }
            </div>
        </div>
        @*专辑推荐*@

        <div id="tjzhong_3">
            <div id="tjzhong_3_text">
                <a>名气歌手</a>
            </div>
            <div id="tjzhong_3_img">
                @foreach (var item in ViewData["mqges"] as List<MvcApplication1.newmqges>)
                {
                    <dl>
                        <dt>
                            <img src="~/gsimg/@item.gsimg" onclick="ges('@item.gsid')"/></dt>
                        <dt>@item.gsname
                        </dt>
                    </dl>     
                }
            </div>
        </div>
        @*名气歌手*@
        <div id="tjzhong_4">
            <div id="tjzhong_4_text">
                <a>排榜</a>
            </div>
            <div id="tjzhong_4_img">
                @{var i = 0;}
                <table>
                    <tr>
                        <td>排行顺序</td>
                        <td>歌曲标题</td>
                        <td>播放</td>
                        <td>歌手名</td>
                        <td>专辑名称</td>

                    </tr>
                    @foreach (var item in ViewData["geqpaih"] as List<MvcApplication1.newgeqpaih>)
                    {
                        i += 1;
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>@item.gq</td>
                            <td>
                   
                             <a href="/Home/gequ?gqid=@item.gqid" target="iframe0"><img src="~/icon/播放.jpg" id="bfimg"/></a>
                            </td>
                            <td>@item.gsname</td>
                            <td>@item.zjname</td>
                        </tr>   
                    }

                </table>



            </div>
        </div>
        @*歌曲排行榜*@

    </div>
    <div id="div_tjyou"></div>
</div>
@*图片悬浮特效*@
<script>
    $(function () {
        //热门推荐
        $("#tjzhong_1_img dt").hover(function () {
            $(this).find("img").fadeTo(200, .100);
         
        }, function () {
            $(this).find("img").fadeTo(200, 5);    
        })
        //专辑推荐
        $("#tjzhong_2_img dt").hover(function () {
            $(this).find("img").fadeTo(200, .100);
         
        }, function () {
            $(this).find("img").fadeTo(200, 5);    
        })
        //名气歌手
        $("#tjzhong_3_img dt").hover(function () {
            $(this).find("img").fadeTo(200, .100);
         
        }, function () {
            $(this).find("img").fadeTo(200, 5);    
        })
        //排行榜
        $("#tjzhong_4_img td").hover(function () {
            $(this).find("img").fadeTo(200, .100);
         
        }, function () {
            $(this).find("img").fadeTo(200, 5);    
        })
    })
</script>
@*推荐模块*@
<script type="text/javascript">
    function tuijged(remid) {
        window.location.href="/Home/remtj?remid="+remid;
    }
    function zhuanj(zjid) {

        window.location.href="/Home/zjtj?zjid="+zjid;
    }
    function ges(gsid) {
        window.location.href="/Home/mqgs?gsid="+gsid;
    
    }
    //点击图片播放音乐
    $(function() {
        $("#bfimg").click(function () {
            var audio = document.getElementById("audio");
            if (audio!=null) {
                console.log(audio.paused);
                if (audio.paused==true) {
                    audio.play();
                }
                else {
                    audio.pause();
                }
            }
        })
    })

    //音乐在页面能只能播放一首
    var audios = document.getElementsByTagName("audio");
    function pauseAll() {
        var self = this;
        [].forEach.call(audios, function (i) {
            // 将audios中其他的audio全部暂停
            i !== self && i.pause();
        })
    }
    // 给play事件绑定暂停函数
    [].forEach.call(audios, function (i) {
        i.addEventListener("play", pauseAll.bind(i));
    })

    
   
    
</script>


<script>
    // 当前轮播图编号
    let current_index=-1;
    // 自动轮播定时器
    let swipe_timer=null;
    // 轮播图的图片地址与跳转链接
    let links=[
        {'image':'/lunboimg/1.jpg','target':'#1'},
        {'image':'/lunboimg/2.jpg','target':'#2'},
        {'image':'/lunboimg/3.jpg','target':'#3'},
        {'image':'/lunboimg/4.jpg','target':'#4'},
        {'image':'/lunboimg/5.jpg','target':'#5'}, 
    ];

    // 需要操作到的元素
    let swipe=document.getElementById('swipe');
    let swipe_bg=document.getElementById('swipe_bg');
    let swipe_img_box=document.getElementById('swipe_img_box');
    let swipe_link=document.getElementById('swipe_link');
    let swipe_img=document.getElementById('swipe_img');
    let swipe_select=document.getElementById('swipe_select');
    let swipe_btn_left=document.getElementById('swipe_btn_left');
    let swipe_btn_right=document.getElementById('swipe_btn_right');

    // 事件
    // 切换图片
    let select=(index)=>{
        // 停止播放
        stop();
        
    // 转数字
    index=Number(index);
    // 越界超过最大数量,直接返回
    if(index>=links.length){
        return;
    }
    // 选中当前已选中的,直接返回
    if(current_index==index){
        return;
    }
    // 取消当前指示点的选中状态
    if(current_index>-1){
        swipe_select.children[current_index].classList.remove('checked');
    }
    // 变更当前轮播图的编号
    current_index=index;
    // 找到当前元素
    let current_link=links[current_index];
    // 背景变化
    swipe_bg.style.backgroundImage='url('+current_link.image+')';
    // 前景变化
    swipe_img.setAttribute('src',current_link.image);
    // 链接变化
    swipe_link.setAttribute('href',current_link.target);
    // 增加新的指示点的选中状态
    swipe_select.children[current_index].classList.add('checked');
    };
    // 自动切换图片
    let autoSelect=(index)=>{
        // 转数字
        index=Number(index);
    // 越界超过最大数量，直接返回
    if(index>=links.length){
        return;
    }
    // 选中当前已选中的，直接返回
    if(current_index==index){
        return;
    }
    // 取消当前指示点的选中状态
    swipe_select.children[current_index].classList.remove('checked');
    // 变更当前轮播图的编号
    current_index=index;
    // 找到当前元素
    let current_link=links[current_index];
    // 前景图片
    // 第一步调整过渡时间
    swipe_img.style.transition='opacity 0.5s ease-in 0s';
    // 第二步调整不透明度为0.2
    swipe_img.style.opacity=0.2;
    // 第三步延迟变换img图片，并重新定义透明度以及过渡时间和过渡方式
    setTimeout(() => {
        // 背景变化
        swipe_bg.style.backgroundImage='url('+current_link.image+')';
    // 前景变化
    swipe_img.setAttribute('src',current_link.image);
    // 链接变化
    swipe_link.setAttribute('href',current_link.target);
    // 不透明度变化
    swipe_img.style.transition='opacity 0.7s ease-out 0s';
    swipe_img.style.opacity=1;
    // 增加新的指示点选中状态
    // 如果已经通过手动点击了，选中则此处不再执行
    if(!document.querySelector('.swipe .checked')){
        swipe_select.children[current_index].style.transition='background-color 0.5s';
        swipe_select.children[current_index].classList.add('checked');
    }
    }, 300);
    };
    // 播放
    let play=()=>{
        // 3秒切换一次
        swipe_timer=setInterval(()=>{
            // 设置新的index
            let index=current_index+1;
    // 右翻越界，切到第一张
    if(index>=links.length){
        index=0;
    }
    // 加载新图片（这里选择自动，增加切换效果）
    autoSelect(index);
    },3000);
    };
    // 停止
    let stop=()=>{
        if(swipe_timer){
                clearInterval(swipe_timer);
    swipe_timer=null;
    }
    };
    // 初始化
    let init=()=>{
        for(let i=0;i<links.length;i++){
            // 创建a元素
            let item=document.createElement('a');
            // 修改属性
            item.setAttribute('class','item');
            item.setAttribute('href','#');
            item.setAttribute('data-index',i);
            // 追加元素
            swipe_select.appendChild(item);
        }
    // 默认第一张
    select(0);
    // 绑定各个事件并开始轮播
    bind();
    play();
    };
    // 绑定
    let bind=()=>{
        // 左翻事件监听
        swipe_btn_left.addEventListener('click',()=>{
            // 设置新的index
            let index=current_index-1;
    // 左翻越界，切到最后一张
    if(index<0){
        index=links.length-1;
    }
    // 加载新图片
    select(index);
    });
    // 右翻事件监听
    swipe_btn_right.addEventListener('click',()=>{
        // 设置新的index
        let index=current_index+1;
    // 右翻越界，切到第一张
    if(index>=links.length){
        index=0;
    }
    // 加载新图片
    select(index);
    });
    // 循环绑定指示器点击事件
    for(const key in swipe_select.children){
        if(swipe_select.children.hasOwnProperty(key)){
            const element=swipe_select.children[key];
            element.addEventListener('click',(e)=>{
                // 取消默认点击跳转
                e.preventDefault();
            // 跳转到当前指示点中data-index所指定的图片
            select(e.target.dataset.index);
        });
    }
    }
    // 绑定鼠标移入事件
    swipe.addEventListener('mouseover',(e)=>{
        // 防止鼠标从子元素移出时触发
        if(e.relatedTarget&&swipe.compareDocumentPosition(e.relatedTarget)==10){
            stop();
    }
    });
    // 绑定鼠标移出事件
    swipe.addEventListener('mouseout',(e)=>{
        // 防止鼠标从子元素移出时触发
        if(e.relatedTarget&&swipe.compareDocumentPosition(e.relatedTarget)==10){
            play();
    }
    });
    // 绑定鼠标移动事件
    swipe.addEventListener('mousemove',(e)=>{
        stop();
    });
    };

    // 页面加载完毕，执行初始化
    window.addEventListener('load',()=>{
        init();
    })
</script>
@*图片轮播jquery*@

<script type="text/javascript">
    $(function () {

        //默认显示主页
    
        @*变色*@
        $("#group_1").click(function () {
            var black = " rgb(0, 0, 0)";
            var color = $("#head").css("background-color");
            //alert(color)
            if (color != black) {
                $("#ul_daoh").css("background-color", color);
                $("#ul_daoh").css("filter", "brightness(80%)");
                $("#ul_daoh li:hover").css("background-color", " brightness(10%)");
            }
        })

        $("#group_2 ").click(function () {
            var black = " rgb(0, 0, 0)";
            var color = $("#head").css("background-color");
            //alert(color)
            if (color != black) {
                $("#ul_daoh").css("background-color", color);
                $("#ul_daoh").css("filter", "brightness(80%)");
                $("#ul_daoh li:hover").css("background-color", " brightness(10%)");

            }
        })


    })
</script>
